<h1 class="text-center m-10 text-4xl">Miembros del Club</h1>

<div class="container min-w-sm mx-auto sm:px-4 flex flex-wrap justify-between">

    <div class="miembros__card md:w-[calc(33.33%_-_10px)]">
        <img src="assets/images/Retrato Mateo.jpg" class="w-full rounded rounded-t" alt="Retrato de Mateo Herrera">
        <div class="flex-auto p-6">
            <h5 class="mb-3 text-center">Mateo Herrera</h5>
            <p class="mb-0 text-center">Es el miembro que más veces ha representado al Club en torneos.</p>
            <div class="miembros__elo">
                <p><strong>ELO:</strong> 950 </p>
            </div>
        </div>
    </div>

    <div class="miembros__card md:w-[calc(33.33%_-_10px)]">
        <img src="assets/images/Retrato Sophia.jpg" class="w-full rounded rounded-t" alt="Retrato de Sophia Rodríguez">
        <div class="flex-auto p-6">
            <h5 class="mb-3 text-center">Sophia Rodríguez</h5>
            <p class="mb-0 text-center">Es una de los fundadores del Club. Actualmente está inactiva.</p>
            <div class="miembros__elo">
                <p><strong>ELO:</strong> 1056 </p>
            </div>
        </div>
    </div>

    <div class="miembros__card md:w-[calc(33.33%_-_10px)]">
        <img src="assets/images/Retrato Isabella.jpg" class="w-full rounded rounded-t" alt="Retrato de Isabella Gómez">
        <div class="flex-auto p-6">
            <h5 class="mb-3 text-center">Isabella Gómez</h5>
            <p class="mb-0 text-center">Es una de los tres fundadores del Club y la jugadora con mejor ELO de
                este.</p>
            <div class="miembros__elo">
                <p><strong>ELO:</strong> 1850 </p>
            </div>
        </div>
    </div>

    <div class="miembros__card md:w-[calc(33.33%_-_10px)]">
        <img src="assets/images/Retrato Gabriel.jpg" class="w-full rounded rounded-t" alt="Retrato de Gabriel Morales">
        <div class="flex-auto p-6">
            <h5 class="mb-3 text-center">Gabriel Morales</h5>
            <p class="mb-0 text-center">Es el miembro más joven del club. A pesar de su edad, es uno de los
                mejores
                jugadores
                del país.</p>
            <div class="miembros__elo">
                <p><strong>ELO:</strong> 2160 </p>
            </div>
        </div>
    </div>

    <div class="miembros__card md:w-[calc(33.33%_-_10px)]">
        <img src="assets/images/Retrato Valentina.jpg" class="w-full rounded rounded-t"
            alt="Retrato de Valentina Castro">
        <div class="flex-auto p-6">
            <h5 class="mb-3 text-center">Valentina Castro</h5>
            <p class="mb-0 text-center">Es la última incorporación del Club, se une con ganas de aprender y
                mejorar.</p>
            <div class="miembros__elo">
                <p><strong>ELO:</strong> 430 </p>
            </div>
        </div>
    </div>

    <div class="miembros__card md:w-[calc(33.33%_-_10px)]">
        <img src="assets/images/Retrato Santiago.jpg" class="w-full rounded rounded-t" alt="Retrato de Santiago López">
        <div class="flex-auto p-6">
            <h5 class="mb-3 text-center">Santiago López</h5>
            <p class="mb-0 text-center">Es uno de los tres fundadores del Club y el miembro con más edad del
                mismo.</p>
            <div class="miembros__elo">
                <p><strong>ELO:</strong> 840 </p>
            </div>
        </div>
    </div>

</div>